td {
    width: 18px;
}
tr {
    height: 18px;
}
.table tr, 
.table td,
.table {
    border-radius: 3px;
    border: 2px solid cadetblue;
    box-shadow: 2px;
}
.black {
    background-color: black;
}
